body {
    font-family: "Hind Siliguri", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('../Image/boy.jpg');
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 50px;  
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.logo-t {
    font-family: "Satisfy", cursive;
    font-weight: 700;
    font-size: 1.5em;
    color: #fff;
}


.lyrics-container {
    text-align: center;
    width: 50%;
    margin-left: -500px;
}

#current-line {
    font-size: 3rem;
    font-weight: bold;
    padding: 20px;
}

button {
    padding: 10px 30px;
    font-size: 16px;
    background-color: #000;
    color: #eeff00;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-left: -500px;
}

button:hover {
    background-color: #9013fe;
    color: #fff;
}

.song-name {
    font-size: 20px;
    color: #fff !important;
}

.song-creator {
    font-size: 40px;
    color: #eeff00 !important;
    font-style: italic;
    background-color: #000;
    padding: 0 20px;
    border-radius: 3px;
}

.l-t-g {
    font-weight: normal;
    background: linear-gradient(270deg, #fff, #00cfff, #eeff00);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.footer {
    background-color: #0000005b;
    padding: 2px 0;
    border-top: 1px solid #2f2f2f;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-size: 16px
}

.footer a:hover {
    color: #ff0040;
}

@media (max-width: 768px) {
    body {
        background-position: -70% -50%;
    }

    .lyrics-container {
        width: 90%;
        margin: 0 auto;
    }

    button {
        margin-left: 0;
    }
}

